@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Azeret Mono", monospace;
    margin : 0;
    padding : 0;
}

/* contact_section starts here */

.contact_section {
    width: 100%;
    height: 652px;
    background-image: url('../assets/Hero-bg.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.contact_section > img {
    width: 240.28px;
    height: 240px;

}

.contact_section > h1 {
    width: 1300px;
    height: 136px;
    text-align: center;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
}

.contact_section > p {
    width: 1300px;
    height: 52px;
    opacity: 0.7;
    text-align: center;
}

.contact_section > button {
    width: 250px;
    height: 66px;
    text-align: center;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 21px 24px 21px 24px;
}

.btn_content {
    width: 200px;
    height: 24px;
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
}
/* contact_section ends here */

/* why_web_dev_section starts here */

.why_web_dev_section {
    width: 80%;
    height: 1395px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.question {
    width: 852px;
    height: 115px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

.question > h1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;

}

.question > p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.answer_1 {
    width: 83%;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left_side_content {
    width: 50%;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.left_side_content > h3 {
    width: 90%;
    height: 72px;
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
}

.left_side_content > p {
    width: 100%;
    height: 52px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}


.learn_more_btn {
    width: 25%;
    height: 40px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: 500;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
}


.right_side_content {
    width: 27%;
    height: 217.01px;
} 

.answer_2 {
    padding-right: 100px;
}

/* why_web_dev_section ends here */

/* my_inspiration_section starts here */

.my_inspiration_section {
    width: 80%;
    height: 775px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 70px;
    
}
.my_inspiration_section > h1{
    height: 37px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}
.my_inspiration_section > p{
    width: 75%;
    height: 52px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    text-align: center;
}
.my_inspiration_section > .video_from_youtube{
    width: 100%;
    height: 614px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    width: 95%;
    height: 550px;
    border-radius: 16px;
}
/* my_inspiration_section ends here */

/* my_current_target_section starts here */

.my_current_target_section {
    width: 80%;
    height: 460px;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.my_current_target_section > h1{
    width: 100%;
    height: 37px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}
.my_current_target_section > p{
    width: 75%;
    height: 52px;
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.skills_container {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
}

.box {
    width: 32%;
    height: 300px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top : 20px;
}


.inner_box {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.inner_box > img {
    width: 39.68px;
    height: 45px;
}
.inner_box > h1 {
    width: 100%;
    height: 36px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
}
.inner_box > p {
    width: 100%;
    height: 52px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}

.inner_box > h4 {
    width: 284px;
    height: 19px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
}

/* my_current_target_section ends here */

/* support_section starts here */

.support_section {
    width: 80%;
    height: 313px;
    background-image: url("../assets/handshake.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 16px;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}

.support_section > h1{
    width: 65%;
    height: 36px;
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 0px;
}
.support_section > p{
    width: 65%;
    height: 52px;
    opacity: 0.7;
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 0px;
}

.user_input {
    padding-bottom: 40px;
}

.user_input > input {
    width: 548px;
    height: 57px;
    box-sizing: border-box;
    /* border: 1px solid rgba(13, 19, 33, 0.15); */
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: rgba(13, 19, 33, 0.4);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    border: none;
}

.user_input > button {
    width: 120px;
    height: 57px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    border: none;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
}

/* support_section ends here */

/* footer starts here */

footer {
    height: 100px;
    width: 100%;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    display: flex;
    align-items: center;
}

footer > .content {
    width: 80%;
    height: 36px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.content > h1 {
    width: 40%;
    height: 23px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
}

.social_media {
    width: 13%;
    display: flex;
    justify-content: space-between;
}
/* footer ends here */
